DB_CONNECTION_STRING=mysql+mysqlconnector://root@localhost/example
FLASK_APP_KEY="any key works"
FLASK_APP=src/main.py
FLASK_ENV=development
CLOUD_NAME="df9k0kc8n"
CLOUD_API_KEY="923235892861866"
CLOUD_SECRET="38YBN_uaypUpJXkbvRfb4Yzz_-Y"
CLOUD_ENV="CLOUDINARY_URL=cloudinary://923235892861866:38YBN_uaypUpJXkbvRfb4Yzz_-Y@df9k0kc8n"